{% extends "base.html" %}
{% block content %}
  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">File</th>
                <th scope="col">Cat rules</th>
                <th scope="col">Xtr rules</th>
              </tr>
            </thead>
            <tbody>
              {% for l in labels %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{l["doc"]}}</td>
                <td>{{l["cat_labels"]}}</td>
                <td>{{l["xtr_labels"]}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
{% endblock %}